.Weather {
  border: 1px solid #ebefef;
  background-color: #fdfdfc;
  border-radius: 10px;
  padding: 30px;
  margin: 30px auto ;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif
}

.Weather h1 {
  font-size: 60px;
  font-style: italic;
  font-family: 'Dancing Script';
  line-height: 48px;
  margin: 40px;
  padding-left: 60px;
  color: #132b43;
  display: flex;
    justify-content: center;

}

.Weather h2 {
  font-style: italic;
  font-family: 'Dancing Script';
  font-weight: 100;
  font-size: 90px;
  opacity: 1;
  line-height: 80px;
  margin: 100px 0 5px;
  color: #1b4065;
  display: flex;
 justify-content: center;

}

.unit {
  position: relative;
  top: -50px;
  font-size: 15px;
  font-weight: lighter;
  opacity: 1;
  text-decoration: none;
}

.Weather ul {
  margin: 30px auto;
  padding-left: 20px;
}

.Weather li {
  font: size 10px;
  font-weight: 500;
  list-style: none;
  color: #547793;

}

.Weather img {
margin: 5px;
width: 250px;
}


.date {
  font-style: italic;
  font-weight: 100;
  color: #547793;

}
.Weather-img{
  margin-top: 0;
  display: flex;
  justify-content: right;

}


